body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F0F6FB;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;

}

.container {
  box-shadow: 1px 1px 5px rgb(100, 99, 99);
  width: 30%;
  margin: 50px auto;
  height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  border-radius: 20px;



}

.item {
  overflow-wrap: break-word;

  width: 100%;
  margin: 1px;
  padding: 2px;
  text-align: center;


}

#image {
  margin: 8px;

  height: 115px;
  width: 25%;
  border-radius: 50%;
  background-color: #449bd1;
  padding: 2px;
}

#text {
  height: 100px;
  color: #727e8a;

}

#name {
  color: #072944;
  font-weight: 400;
}

#frwdbtn {
  width: 10%;



}

#bckwbtn {
  width: 10%;



}

button:hover {
  color: rgb(17, 209, 145);
}



button {
  border-style: none;
  background: none;
  cursor: pointer;
  color: #449bd1;
  font-size: 18px;

}

#profession {
  color: #449bd1;

}

#profession:hover {
  color: rgb(17, 209, 145);
  cursor: pointer;
}

#heading {
  text-align: center;
  width: 10%;
  margin: 5px auto;
  border-bottom: 3px solid #449bd1;
  color: #072944;




}